<div class="container">
    <footer>
        <div class="text-center">
            <div id="footer" class="card-footer">
                <div id="cp">
                    <small>
                        <div class="yjsgcp">Copyright © <span>Angular</span> 2020 - Todos los derechos
                            reservados. Sitio diseñado por <a href="#"
                                title="Estudios Rios">Diego Fernando Rios</a></div>
                    </small>
                </div>
            </div>
        </div>
    </footer>
</div>
